/* SIDEBAR */

/* Título */

div.st-emotion-cache-k7vsyb.e1nzilvr2 h2{
    font-size: 25px;
}
/* modifica o  texto "FORMULA 1 DASHBOARD"*/

div.st-emotion-cache-k7vsyb.e1nzilvr2 h3{
    font-size: 20px;
    margin-top: -15px;
}
/* modifica o  texto "1950 - 2022"*/

/* Texto botão */
label.st-emotion-cache-1hjvxyh.e1y5xkzn3 p{
    font-size: 18px;
    padding-bottom: 5px;
}
/* modifica o  titulo dos selectbox*/

body {
    transform: scale(0.8);
    transform-origin: 0 0;
}

div.st-as.st-cq.st-cr.st-cs.st-ct.st-cu.st-cv p{
    font-size: 18px;
}
/* modifica o textos dos botões de radio*/

div.st-emotion-cache-ul70r3.e1nzilvr5 p{
    font-size: 18px;
}
/* modifica o textos da sessão sobre*/


/* Selectbox */
div.row-widget.stSelectbox{
    padding-bottom: 15px;
}   
/* modifica a caixa dos selectboxs*/


/* LEGENDAS */

summary.st-emotion-cache-vsi2tt.eqpbllx1 {
    background-color: #262730;
    border: #B80900 solid 1px;
    border-radius: 8px;
}
/* modifica a caixa exterior da legenda dos gráficos */


details.st-emotion-cache-13na8ym.eqpbllx3 {
    position: relative;
    border: #B80900 solid 1px;
    border-radius: 8px;
    top: -40px;
    margin-bottom: 20px;
}
/* modifica a caixa interior da legenda dos gráficos */



/* GRÁFICOS */

div > div.st-emotion-cache-ocqkz7.e1f1d6gn5 {
    padding-top: 60px;
    padding-bottom: 60px;
}
/* modifica a sessão com o top 3 da temporada */


div > div.st-emotion-cache-ocqkz7.e1f1d6gn5 p{
    text-align: center;
    font-size: 22px;
}
/* modifica o nome dos pilotos no top 3 da temporada */


#f39dd411, #fe1ef4c2, #b789804c{
    text-align: center;
}
/* modifica os números do top 3 da temporada */

#d4811d26{
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 25px;
    font-weight: 700;
}
/* modifica o título do top 3 da temporada */

#temporada-de-1950{
    font-size: 35px;
    position: absolute;
    bottom: 10px;
    left: 170px;
}
/* modifica o título principal da página "Temporada de (ano)" */


div > div.st-emotion-cache-ocqkz7.e1f1d6gn5 img {
    position: relative;
    left: 25px;
    padding-top: 100px;
}
/* modifica as imagens do top 3 da temporada */

code {
    background:none;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
}
/* modifica a pontuação no top 3 da temporada */



